* {
  text-transform: capitalize;
  list-style: none;
  box-sizing: border-box;
  border-radius: 10px;
}

:root {
  --color-1: white;
  --color-2: rgb(153, 140, 140);
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 9s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.d-none {
  display: none;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
  padding: 20px;
  margin: 30px 50px;
}

.ul-loading {
  overflow: hidden !important;
  transition: unset !important;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#main {
  display: flex;
  width: 900px;
  max-height: 485px;
  gap: 5%;
  margin: 0 auto;
  margin-top: 90px;
  border: 2px groove brown;
  padding: 20px;
}

form,
.score-list {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.score-list {
  width: 70%;
  gap: 10px;
}

#ul {
  max-height: 300px;
  display: flex;
  flex-direction: column;
  transition: 2s ease-in-out;
  overflow: auto;
  padding: 3px;
  gap: 6px;
  scroll-behavior: smooth;
  margin-bottom: 10px;
}

#ul::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#ul::-webkit-scrollbar-track {
  background: grey;
  border-radius: 30%;
}

/* Handle */
#ul::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 30%;
}

/* Handle on hover */
#ul::-webkit-scrollbar-thumb:hover {
  opacity: 0.5;
}

.name-score {
  border: 1.6px groove lightslategray;
  font-size: 24px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 16px;
}

/* .name-score:nth-child(even) {
  background: var(--color-2);
  color: white;
}

.name-score:nth-child(odd) {
  background: var(--color-1);
  color: #0e0909;
} */

.rs-div {
  display: flex;
  justify-content: space-around;
  max-height: 130px;
}

.score-list h2 {
  font-size: 32px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  padding: 4px;
}

.refresh {
  background-color: var(--color-1);
  border-radius: 50%;
  cursor: pointer;
}

#form {
  margin-top: 50px;
  gap: 10px;
}

.submit:hover {
  opacity: 0.7;
}

#form .submit {
  cursor: pointer;
  width: 50%;
  margin: 0 auto;
  margin-top: 25px;
}

input {
  height: 40px;
  padding-inline-start: 9px;
  font-size: large;
  background-color: var(--color-2);
  opacity: 0.8;
  border: 2px solid beige;
}

input::placeholder {
  color: white;
  font-size: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  border-radius: unset;
  display: flex;
  justify-content: start;
}

.footer h4 {
  font-size: 22px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

button {
  display: flex;
  justify-content: center;
  transition-timing-function: ease-in;
  margin: 0 0 0.875em 0;
  border-width: 0.125em;
  border-style: solid;
  border-radius: 0.5em;
  border-color: currentColor;
  box-shadow: 0 0.375em 0 currentColor;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: rgb(145, 207, 20);
  cursor: pointer;
  padding: calc((4em - (1em * 1.5) - (0.125em * 2) - 0.375em) / 2) calc(1em * 1.5);
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #183153;
  font-weight: 600;
}

/* Mobile versions styling */

@media screen and (max-width: 910px) {
  #main {
    max-width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 2.5rem;
    display: block;
    padding: 20px;
  }

  #main {
    max-width: unset;
    max-height: 600px;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    border: unset;
  }

  .score-list,
  #form {
    width: 100%;
  }

  .footer {
    display: none;
  }

  .recent-scores {
    font-size: 15px;
  }

  .add-scores {
    margin: 0 auto;
  }
}
