* {
  text-transform: capitalize;
  list-style: none;
  box-sizing: border-box;
  border-radius: 10px;
}
:root {
  --color-1: white;
  --color-2: rgb(153, 140, 140);
}
body {
    background:linear-gradient(var(--color-2), var(--color-1));;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
  padding-left: 10%;
}

#main {
  display: flex;
  width: 900px;
  max-height: 400px;
  gap: 5%;
  margin: 0 auto;
  margin-top: 100px;
}

form,
.score-list {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.score-list {
  width: 70%;
}

#ul {
  padding: unset;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  transition: 0.4s ease-in;
  overflow: auto;
  padding: 3px;
  gap: 6px;
  scroll-behavior: smooth;
}
#ul::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#ul::-webkit-scrollbar-track {
  background: var(--color-2);
}

/* Handle */
#ul::-webkit-scrollbar-thumb {
  background: var(--color-1);
}

/* Handle on hover */
#ul::-webkit-scrollbar-thumb:hover {
  opacity: 0.5;
}

.name-score {
  border: 1.6px groove lightslategray;
  font-size: 20px;
  padding: 16px;
}

.name-score:nth-child(even) {
  background:var(--color-2);
  color: white;
}

.name-score:nth-child(odd) {
  background: var(--color-1);
  color: #0e0909;
}

.rs-div {
  display: flex;
  justify-content: space-around;
  max-height: 130px;
}
.score-list h2 {
  font-size: 27px;
}

.refresh {
  margin-top: 13px;
  background-color: var(--color-1);
  border-radius: 50%;
  cursor: pointer;
}

#form {
  margin-top: 50px;
  gap: 10px;
}

#form .submit {
  width: 50%;
  margin-left: 130px;
  height: 30px;
}

button,
input {
  border: 2px solid black;
}

input {
  height: 40px;
  padding-inline-start: 4px;
  font-size: large;
  background-color: var(--color-2);
}

input::placeholder {
  color: white;
}

button {
  cursor: pointer;
  font-size: large;
  background-color: var(--color-1);
  color: var(--color-2);
}

button:hover {
  opacity: 0.4;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: var(--color-2);
  border-radius: unset;
  display: flex;
  justify-content: start;
}
.footer h4 {
  font-size: 22px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-left: 50px;
}
